* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    background-color: #fbf8f8;
    width: 100%;
    height: 100vh;
}
.backArrow {
    /* border: 1px solid red; */
    position: absolute;
    top: 20px;
    left: 25px;
    cursor: pointer;
}

.navContainer {
    /* border: 1px solid red; */
    font-size: 10px;
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-top: 40px;
    /* min-width: 550px; */
}
.navContainer span {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    /* content: "";
    padding-top: 20px;
    border-bottom: 1px solid black;
    padding: 10px; */
}
.commonInput label {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.userDiv {
    /* border: 1px solid black; */
     max-width: 1200px; /* ----- es px tu % tu vh --------*/
    background-color: #fff;
    margin: 0 auto;
}
.parent {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
form {
    padding: 80px 100px;
}
.userDiv .commonInput input {
    /* width: 50%; */
    border: 1px solid red;
    width: 330px;
    height: 50px;
    border-radius: 8px;
    border-color: #8AC0E2;
    margin-top: 10px;
    padding: 10px;
}
.userDiv span {
    font-size: 13px;
    margin-top: 4px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
}
.userDiv .commonInput {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}
.selectTeam {
    flex-basis: 78%;
    margin-top: 50px;
    height: 60px;
    border-radius: 5px;
    border: none;
    background-color: #e9e1e1;
    padding: 10px;
    line-height: 10px;
}
.selectPos {
    flex-basis: 78%;
    margin-top: 60px;
    height: 60px;
    border-radius: 5px;
    border: none;
    background-color: #e9e1e1;
    padding: 10px;
}
.forMailLabel {
   flex: 1;
   flex-basis: 100%;
   margin: 50px 0 10px 110px;
   font-weight: bold;
   font-family: Helvetica, sans-serif;
   font-size: 18px;
}
.selectMail {
    flex-basis: 78%;
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color: #eae4e4;
    border: 2px solid #8AC0E2;
    padding: 10px;
    box-shadow: none;
}
.selectMailSpan {
    width: 78%;
}
.buttonNext {
    border: none;
    width: 15%;
    height: 50px;
    background-color: #62A1EB;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin: 70px 0 0 640px;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}
.logoFigure {
    /* border: 1px solid red; */
    text-align: center;
}

@media screen and (max-width: 740px) {
    body, html {
        background: white;
    }
}
@media screen and (max-width: 900px) {
    .userDiv {
        width: 100%;
    }
    .parent {
        width: 100%;
    }
    .selectTeam, .selectPos {
        width: 100%;
    }
    .commonInput {
        margin-top: 30px;
    }
    .logoFigure {
        display: none;
    }
    .laptopInfo {
        display: none;
    }
    .forMailLabel {
        margin-left: 30px;
    }
    .userDiv .commonInput input {
        width: 100%;
    }
    .selectMailSpan {
        width: 100%;
    }
}
@media screen and (max-width: 620px) {
    .selectTeam, .selectPos, .selectMail {
        flex-basis: 100%;
    }
    .buttonNext {
        display: none;
    }
}