* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff;
}


.logo2 {
    display: none;
}

.underline::after {
    display: block;
    content: '';
     width: 80%;
     height: 2px;
     background: black;
     position: absolute;
     bottom: -7px;
     left: 0;
     margin-left: 20px;
   }
   
   .underline {
   position: relative;  
   }

header {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F7;
}
.pageNumber {
    display: none;
}

/* .navContainer {
    font-size: 10px;
    display: flex;
    justify-content: center;
    gap: 45px;
    text-align: center;
} */

.commonInput label {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

form {
    width: 60%;
    /* border: 3px solid brown; */
    display: flex;
    justify-content: center;
    background-color: #fff;
}
section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.parent {
    /* border: 3px solid green; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 20px 100px;
}
.nameSurname {
    display: flex;
    padding: 20px 0;
    justify-content: center;
    gap: 30px;
}

.commonInput input {
    border-radius: 8px;
    border-color: #8AC0E2;
    padding: 15px;
    margin-top: 10px;
}
.error {
  outline: 2px solid red !important;
  border: none !important;
}
.firstName {
    border: 1px solid red;
    border-color: red;
}
main {
    width: 100%;
    display: flex;
    justify-content: center;
}
main span {
    font-size: 12px;
    margin-top: 4px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
}
.commonInput {
    display: flex;
    flex-direction: column;
    flex: 1;
}
/*------------- team and position ----------*/


.teamAndPosition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
}

.mailAndNum {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.selectTeam {
    border-radius: 5px;
    border: none;
    background-color: #e9e1e1;
    padding: 18px;
}

.selectPos {
    border-radius: 5px;
    border: none;
    background-color: #e9e1e1;
    padding: 18px;
}
.forMailLabel {
   font-weight: bold;
   font-family: Helvetica, sans-serif;
   font-size: 18px;
   margin-top: 20px;
}
.selectMail {
    border-radius: 10px;
    border: none;
    background-color: #eae4e4;
    border: 2px solid #8AC0E2;
    padding: 17px;
    box-shadow: none;
}
.selectMailSpanMobile {
    display: none;
}

.buttonNext {
    border: none;
    width: 130px;
    height: 50px;
    background-color: #62A1EB;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    /* margin: 70px 0 0 640px; */
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    align-self: flex-end;
    margin-top: 30px;
}
.logoFigure {
    text-align: center;
    background-color: #F7F7F7;
}
.logoImage {
    margin-top: 30px;
}



@media screen and (max-width: 740px) {
    .logo2 {
        display: block;
    }
    .logo1 {
        display: none;
    }
    form {
        width: 100%;
    }

}
@media screen and (max-width: 900px) {
    .nameSurname {
        flex-direction: column;
    }
    .navContainer {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .underline::after {
        height: 0px;
    }
    .parent {
        width: 100%;
        padding: 20px 20px;
    }
    .selectTeam, .selectPos {
        width: 100%;
    }
    .logoFigure {
        display: none;
    }
    .laptopInfo {
        display: none;
    }
    .workerInfo {
        display: flex;
        flex: 1;
    }
    .pageNumber {
        display: flex;
        flex: 2;
    }
    .selectMailSpan {
        display: none;
    }
    .selectMailSpanMobile {
        display: block;
    }
    .showSpan {
        display: block;
    }
}


